@model ASP.NETMVC_test.Models.UserViewModel

<h2>User List</h2>

<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>User Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model.Users[i].UserName</td>
                <td>@Model.Users[i].Email</td>
            </tr>
        }
    </tbody>
</table>


<form action="/syanaikanri/TestSubmit" method="post">
    <label for="userName">UserName</label>
    <input type="text" id="UserName" name="UserName" />
    <button type="submit">Submit</button>
</form>


<!--Use Razor tag -->
@using (Html.BeginForm("TestSubmit", "syanaikanri", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.UserName, "UserName")
        @Html.TextBoxFor(model => model.UserName, new { @id = "UserName" })
    </div>
    <button type="submit">Submit</button>
}

